@page "/"

<PageTitle>Home</PageTitle>

<h1>IDEA Holding Test for Junior Developers</h1>


<h3>Author: <b> Fejzullah Ždralović </b> </h3>

<h4>Contact</h4>
<ul>
    <li><b>Email</b>: fejzo999@gmail.com</li>
    <li><b>Phone</b>: +38761266302</li>
    <li><b>LinkedIn</b>: <a href="https://www.linkedin.com/in/fejzullah-zdralovic-517558182/">Fejzullah Ždralović</a></li>
    <li><b>GitHub</b>: <a href="https://github.com/fejzo9">fejzo9</a></li>
</ul>
